beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2020.12.5
chardet==4.0.0
Django==2.2
django-crontab==0.7.1
idna==2.10
Pillow==8.1.0
psycopg2-binary==2.8.6
pytz==2020.5
requests==2.25.1
selenium==3.141.0
soupsieve==2.1
sqlparse==0.4.1
urllib3==1.26.2
