<div class="row">
    <div class="col-sm-12">
        <div class="white-box">
            <!-- <h3 class="box-title m-b-0">VAT Price is set as:</h3> -->
            <div class="form-group">
                <h5 class="m-t-30 m-b-10">VAT Price</h5>
                <div class="input-group">
                    <input class="form-control" disabled type="text" value="{{vat}}">
                    <div class="input-group-addon"><i class="fa fa-dollar"></i></div>
                </div>
            </div>
        </div>
    </div>
</div>