<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div bgcolor="f6f9fc" style="border:0;margin:0;padding:0;min-width:100%;width:100%">
    <table bgcolor="f6f9fc" border="0" cellpadding="0" cellspacing="0" style="border:0;margin:0;padding:0"
           width="100%">
        <tbody>
        <tr>
            <td style="border:0;margin:0;padding:0">
                <table align="center" bgcolor="ffffff" border="0" cellpadding="0" cellspacing="0"
                       style="border-bottom-left-radius:5px;border-bottom-right-radius:5px;margin:0 auto;min-width:900px;
                       background: linear-gradient(45deg, #ededed, #c2c2c200);border: 1px solid #ededed"
                       width="900">
                    <tbody>
                    <tr>
                        <td style="border:0;margin:0;padding:0">

                            <table align="center" bgcolor="ffffff" border="0" cellpadding="0" cellspacing="0"
                               style="border-bottom-left-radius:5px;border-bottom-right-radius:5px;margin:0 auto;min-width:800px;
                               border: 2px solid #dfdfdf;border-top: 10px solid #d5b723;background: white;margin-top: 40px;"
                               width="800">
                            <tbody>
                            <tr>
                                <td style="border:0;margin:0;padding:0">

                                    <table border="0" cellpadding="0" cellspacing="0" style="min-width:700px; margin-left: auto; margin-right: auto;"
                                           width="600">
                                        <tbody>
                                        <tr>
                                            <td colspan="4" height="60" style="border:0;margin:0;padding:0;font-size:1px;line-height:1px"><div>&nbsp;</div></td>
                                        </tr>
                                        <tr>
                                            <td style="border:0;margin:0;padding:0;font-size:1px;line-height:1px" width="80"><div>&nbsp;</div></td>
                                            <td align="left" height="21" style="border:0;margin:0;padding:0" width="300">
                                                <div >
                                                    <a data-saferedirecturl="https://thenxb2b.ro"
                                                       href="https://thenxb2b.ro"
                                                       style="border:0;margin:0;padding:0;text-decoration:none"
                                                       target="_blank">
                                                        <img alt="Thenx" border="0" class="CToWUd" height="50"
                                                             src="https://thenxb2b.ro/static/plugins/images/shorted-logo.png"
                                                             style="border:0;margin:0;padding:0;color:#6772e5;display:block;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Ubuntu,sans-serif;font-size:12px;font-weight:normal"
                                                             width="300">
                                                    </a>
                                                </div>
                                            </td>
                                            <td style="border:0;margin:0;padding:0" width="423">
                                                <div>&nbsp;</div>
                                            </td>
                                            <td style="border:0;margin:0;padding:0;font-size:1px;line-height:1px"
                                                width="64">
                                                <div>&nbsp;</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="4" height="19"
                                                style="border:0;margin:0;padding:0;font-size:1px;line-height:1px">
                                                <div></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="border:0;margin:0;padding:0;font-size:1px;line-height:1px;max-height:1px"
                                                width="64">
                                                <div>&nbsp;</div>
                                            </td>
                                            <td bgcolor="#e6ebf1" colspan="2" height="1"
                                                style="border:0;margin:0;padding:0;font-size:1px;line-height:1px;max-height:1px">
                                                <div>&nbsp;</div>
                                            </td>
                                            <td style="border:0;margin:0;padding:0;font-size:1px;line-height:1px;max-height:1px"
                                                width="64">
                                                <div>&nbsp;</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="border:0;margin:0;padding:0;font-size:1px;"
                                                width="64">
                                                <div>&nbsp;</div>
                                            </td>
                                            <td colspan="2" height="14"
                                                style="border:0;margin:0;padding:0;font-size:20px;color:red;
                                                line-height:14px;text-align: right;padding-top: 10px;">
                                                <div>{{date}}</div>
                                            </td>
                                            <td style="border:0;margin:0;padding:0;font-size:1px;"
                                                width="64">
                                                <div>&nbsp;</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="4" height="32"
                                                style="border:0;margin:0;padding:0;font-size:40px;line-height:1px;max-height:1px">
                                                <div></div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>

                                    <table border="0" cellpadding="0" cellspacing="0" style="min-width:700px; margin-left: auto; margin-right: auto;"
                                           width="600">
                                        <tbody>
                                        <tr>
                                            <td style="border:0;margin:0;padding:0;font-size:1px;line-height:1px"
                                                width="64">
                                                <div>&nbsp;</div>
                                            </td>
                                            <td style="font-weight:bold;color:0;margin:0;padding:0;color:#525f7f!important;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Ubuntu,sans-serif;font-size:16px;line-height:24px">
                                                Here is detail of all your products that values are changed
                                            </td>
                                            <td style="border:0;margin:0;padding:0;font-size:1px;line-height:1px"
                                                width="64">
                                                <div>&nbsp</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="3" height="12"
                                                style="border:0;margin:0;padding:0;font-size:1px;line-height:1px">
                                                <div>&nbsp;</div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>

                                    <table border="0" cellpadding="0" cellspacing="0" style="min-width:700px; margin-left: auto; margin-right: auto;margin-bottom: 20px;"
                                           width="600">
                                        <tbody>
                                        <tr>
                                            <td style="border:0;margin:0;padding:0;font-size:1px;line-height:1px"
                                                width="64">
                                                <div>&nbsp;</div>
                                            </td>
                                            <td style="border:0;margin:0;padding:0;color:#525f7f!important;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Ubuntu,sans-serif;font-size:16px;line-height:24px">


                                                Total Products Price Change: <span style="color: red; padding-left: 10px;">{{product_change}}</span>

                                            </td>
                                            <td style="border:0;margin:0;padding:0;font-size:1px;line-height:1px"
                                                width="64">
                                                <div>&nbsp;</div>
                                            </td>

                                        </tr>
                                        <tr>
                                            <td colspan="3" height="12"
                                                style="border:0;margin:0;padding:0;font-size:1px;line-height:1px">
                                                <div>&nbsp;</div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>

                                    {% for obj in competitors_email %}

                                    <table border="0" cellpadding="0" cellspacing="0" style="min-width:700px; margin-left: auto; margin-right: auto;"
                                           width="600">
                                        <tbody>
                                        <tr>
                                            <td style="border:0;margin:0;padding:0;font-size:1px;line-height:1px"
                                                width="64">
                                                <div>&nbsp;</div>
                                            </td>
                                            <td style="border:0;margin:0;padding:0;color:#525f7f!important;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Ubuntu,sans-serif;font-size:16px;line-height:24px">
                                                Product Name: <span style="color: red; padding-left: 10px;">{{obj.product_name}}</span>
                                            </td>
                                            <td style="border:0;margin:0;padding:0;font-size:1px;line-height:1px"
                                                width="64">
                                                <div>&nbsp;</div>
                                            </td>

                                        </tr>
                                        <tr>
                                            <td style="border:0;margin:0;padding:0;font-size:1px;line-height:1px"
                                                width="64">
                                                <div>&nbsp;</div>
                                            </td>
                                            <td style="border:0;margin:0;padding:0;color:#525f7f!important;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Ubuntu,sans-serif;font-size:16px;line-height:24px">
                                                Product SKU: <span style="color: red; padding-left: 10px;">{{obj.sku}}</span>
                                            </td>
                                            <td style="border:0;margin:0;padding:0;font-size:1px;line-height:1px"
                                                width="64">
                                                <div>&nbsp;</div>
                                            </td>

                                        </tr>
                                        <tr>
                                            <td style="border:0;margin:0;padding:0;font-size:1px;line-height:1px"
                                                width="64">
                                                <div>&nbsp;</div>
                                            </td>
                                            <td style="border:0;margin:0;padding:0;color:#525f7f!important;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Ubuntu,sans-serif;font-size:16px;line-height:24px">
                                                Smart Price: <span style="color: red; padding-left: 10px;">{{obj.expected_price}}</span>
                                            </td>
                                            <td style="border:0;margin:0;padding:0;font-size:1px;line-height:1px"
                                                width="64">
                                                <div>&nbsp;</div>
                                            </td>

                                        </tr>
                                        <tr>
                                            <td style="border:0;margin:0;padding:0;font-size:1px;line-height:1px"
                                                width="64">
                                                <div>&nbsp;</div>
                                            </td>
                                            <td style="border:0;margin:0;padding:0;text-decoration: underline;
                                            color:#525f7f!important;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Ubuntu,sans-serif;font-size:16px;line-height:24px">
                                                Competitor's Detail
                                            </td>
                                            <td style="border:0;margin:0;padding:0;font-size:1px;line-height:1px"
                                                width="64">
                                                <div>&nbsp;</div>
                                            </td>

                                        </tr>
                                        <tr>
                                            <td colspan="3" height="12"
                                                style="border:0;margin:0;padding:0;font-size:1px;line-height:1px">
                                                <div>&nbsp;</div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <table border="0" cellpadding="0" cellspacing="0" style="min-width:700px;border-bottom: 5px solid #e6ebf1;margin-bottom: 20px; margin-left: auto; margin-right: auto;"
                                                       width="600">
                                                    <tbody>
                                                    <tr>
                                                        <td style="border:0;margin:0;padding:0;font-size:1px;line-height:1px"
                                                            width="64">
                                                            <div>&nbsp;</div>
                                                        </td>
                                                        <td style="font-weight:bold;color:0;margin:0;padding:0;color:#525f7f!important;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Ubuntu,sans-serif;font-size:16px;line-height:24px">
                                                            Company Name
                                                        </td>
                                                        <td style="font-weight:bold;color:0;margin:0;padding:0;color:#525f7f!important;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Ubuntu,sans-serif;font-size:16px;line-height:24px">
                                                            Old Price
                                                        </td>
                                                        <td style="font-weight:bold;color:0;margin:0;padding:0;color:#525f7f!important;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Ubuntu,sans-serif;font-size:16px;line-height:24px">
                                                            Current Price
                                                        </td>
                                                        <td style="font-weight:bold;color:0;margin:0;padding:0;color:#525f7f!important;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Ubuntu,sans-serif;font-size:16px;line-height:24px">
                                                            Stock Availability
                                                        </td>
                                                        <td style="border:0;margin:0;padding:0;font-size:1px;line-height:1px"
                                                            width="64">
                                                            <div>&nbsp</div>
                                                        </td>
                                                    </tr>

                                                    {% for obj2 in obj.competitors %}
                                                    <tr>
                                                        <td style="border:0;margin:0;padding:0;font-size:1px;line-height:1px"
                                                            width="64">
                                                            <div>&nbsp;</div>
                                                        </td>
                                                        <td style="font-weight:light;color:0;margin:0;padding:0;color:#525f7f!important;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Ubuntu,sans-serif;font-size:16px;line-height:24px">
                                                            {{obj2.name}}
                                                        </td>
                                                        <td style="font-weight:light;color:0;margin:0;padding:0;color:#525f7f!important;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Ubuntu,sans-serif;font-size:16px;line-height:24px">
                                                           {{obj2.old_price}}
                                                        </td>
                                                        <td style="font-weight:light;color:0;margin:0;padding:0;color:#525f7f!important;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Ubuntu,sans-serif;font-size:16px;line-height:24px">
                                                            {{obj2.current_price}}
                                                        </td>
                                                        <td style="font-weight:light;color:0;margin:0;padding:0;color:#525f7f!important;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Ubuntu,sans-serif;font-size:16px;line-height:24px">
                                                            {{obj2.stock}}
                                                        </td>
                                                        <td style="border:0;margin:0;padding:0;font-size:1px;line-height:1px"
                                                            width="64">
                                                            <div>&nbsp</div>
                                                        </td>
                                                    </tr>
                                                    {% endfor %}
                                                    <tr>
                                                        <td colspan="3" height="12"
                                                            style="border:0;margin:0;padding:0;font-size:1px;line-height:1px">
                                                            <div>&nbsp;</div>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>

                                    {% endfor %}
                                    <table border="0" cellpadding="0" cellspacing="0" style="min-width:700px; margin-left: auto; margin-right: auto;margin-bottom: 50px;"
                                           width="600">
                                        <tbody>
                                        <tr>
                                            <td style="border:0;margin:0;padding:0;font-size:1px;line-height:1px"
                                                width="64">
                                                <div>&nbsp;</div>
                                            </td>
                                            <td style="border:0;margin:0;padding:0;color:#525f7f!important;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Ubuntu,sans-serif;font-size:16px;line-height:24px">


                                                Thanks,
                                                <br>
                                                The Thenx Team
                                                <br>
                                                <a data-saferedirecturl="https://thenxb2b.ro"
                                                href="https://thenxb2b.ro"
                                                style="border:0;margin:0;padding:0;color:#556cd6!important;text-decoration:underline;font-weight:500;"
                                                target="_blank">www.thenxb2b.ro</a>

                                            </td>
                                            <td style="border:0;margin:0;padding:0;font-size:1px;line-height:1px"
                                                width="64">
                                                <div>&nbsp;</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="3" height="12"
                                                style="border:0;margin:0;padding:0;font-size:1px;line-height:1px">
                                                <div>&nbsp;</div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>

                                </td>
                            </tr>
                            </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="border:0;margin:0;padding:0">
                            <table border="0" cellpadding="0" cellspacing="0" style="min-width:900px; margin-left: auto; margin-right: auto;"
                                   width="900">
                                <tbody>
                                 <tr>
                                    <td colspan="3" height="30"
                                        style="border:0;margin:0;padding:0;font-size:1px;line-height:1px">
                                        <div>&nbsp;</div>
                                    </td>
                                </tr>
                                <tr style="text-align:center; ">
                                    <td style="border:0;margin:0;padding:0;color:#8898aa;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Ubuntu,sans-serif;font-size:14px;line-height:16px;font-weight: 500">
        <span style="border:0;margin:0;padding:0;color:#8898aa;">
         -
        </span>
                                    </td>
                                </tr>
                                 <tr>
                                    <td colspan="3" height="10"
                                        style="border:0;margin:0;padding:0;font-size:1px;line-height:1px">
                                        <div>&nbsp;</div>
                                    </td>
                                </tr>
                                 <tr style="text-align:center; ">
                                    <td style="border:0;margin:0;padding:0;color:#8898aa;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Ubuntu,sans-serif;font-size:14px;line-height:16px;font-weight: 500">
        <span style="border:0;margin:0;padding:0;color:#8898aa;">
         -
        </span>
                                    </td>
                                </tr>
                                 <tr>
                                    <td colspan="3" height="10"
                                        style="border:0;margin:0;padding:0;font-size:1px;line-height:1px">
                                        <div>&nbsp;</div>
                                    </td>
                                </tr>
                                 <tr style="text-align:center; ">
                                    <td style="border:0;margin:0;padding:0;color:#8898aa;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Ubuntu,sans-serif;font-size:14px;line-height:16px;font-weight: 500">
        <span style="border:0;margin:0;padding:0;color:#8898aa;text-decoration:underline">
         Unsubscribe from our emails
        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3" height="64"
                                        style="border:0;margin:0;padding:0;font-size:1px;line-height:1px">
                                        <div>&nbsp;</div>
                                    </td>
                                </tr>
                                </tbody>
                </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td height="64" style="border:0;margin:0;padding:0;font-size:1px;line-height:1px">
                <div>&nbsp;</div>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>