<div id="vat-div" style="display: none">
    <div class="row">
        <div class="form-group col-4 col-md-4">
            <h5 class="m-t-30 m-b-10">Set Price</h5>
            <div class="input-group">
                <input class="form-control" step="0.01" id="vat_price" name="vat_price" placeholder="Enter Percentage" type="text">
                <div class="input-group-addon"><i class="fa fa-percent"></i></div>
            </div>
        </div>

        <div class="col-2 col-md-2"></div>
        <div class="col-6 col-md-6"></div>
    </div>

</div>